*.out
*.a
*.o
aclocal.m4
autom4te.cache
configure
.deps
.dirstamp
config.log
config.status
Makefile
Makefile.in
install-sh
missing
depcomp
compile
ar-lib
config.guess
config.sub
ltmain.sh
