*.out
*.a
*.o
aclocal.m4
autom4te.cache
configure
.deps
.dirstamp
config.log
config.status
Makefile
Makefile.in
install-sh
missing
depcomp
compile
ar-lib
test-driver
config.guess
config.sub
ltmain.sh
*.tar.gz
libargparse-*/
libargparse-*.tar.gz
tests/*
!tests/Makefile.am
!tests/*.cpp
!tests/*.h
!tests/*.hpp